@media (max-width: 579px) { 
    .fondo{
        background-color: gray;
        height: 100vh;
        width: 100vw;
    }
    
.responsive .card{
    box-shadow: 3px 4px 0px 0px rgba(230, 224, 224, 0.986);
}
.back {
    img{
        min-width: 100;
        min-height: 100;
        }
        
    h1{
        overflow: scroll;
        padding: 0px;
    }
}
.imgLoad{
    min-width: 100;
    min-height: 100;
    background-color: gray;

}
    .in{
        min-width: 100% !important;
    }

    .abc{
        display: grid ;
        grid-template-columns: 1fr !important;
        grid-template-rows: 1fr 1fr !important;
        max-height: 100%;
        /* background-color: blue !important; */
    }
    .navbar-brand{
        /* background-color: black !important; */
        // font-size: 15px;
        margin-left: 50px;

    }
    .nav1{
        max-width: 100%;
        /* background-color:brown; */
        float: left;
        grid-area: 2 / 1;


    }
    .nav12{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 2fr 1fr;
    }
    .btn1{
        color: gray;
    }
    .nav2{
        /* background-color: blueviolet; */
        margin-left: 5px;
        margin-top: 2px;
        /* grid-area: 1 / 2; */
     }
   
    span{
        margin-top: -0.1px;
    }
    .nav-link{
        text-align: center;
    }
    
   
    .logout{
        display: grid;
    }

    .nav-item{
        max-width: 100%;
        // font-size: 12px;
    }
    .navbar-collapse{
        float: left !important;
    }
        
  
    .btn-outline-primary {
        min-width: 100% !important;
    }
    .search {
        margin-top: 50px;
        min-width: 100% !important;
    }

}

    .responsive{
        min-width: 100% !important;

    }
   /*  .card{
        min-width: 100% !important;
    }
 */
    @media(min-width:580px) and (max-width: 700px){
        .responsive{
            min-width: 50% !important ;
            min-height: 185px !important;
            
        }
        .card{
           min-width: 50% !important;
           min-height: 185px !important;
       }
    
       .search .responsive{
           /* background-color: blue; */
           min-width: 100%;
           align-content: center;
       }
       .search .card{
           min-width: 100%;
           margin-right: -200px;
   
       }
       .nav12{
           display: grid;
           text-align: left;
           grid-template-columns: 1fr 1fr  8fr 2fr 1fr  ;
           grid-template-rows: 1fr;
       }
       .logout{
           grid-column: 5;
       }
       .name{
           grid-column: 4;
           text-align: center;
       }
       .btn1{
           color: gray;
       }
       .nav2{
           /* background-color: blueviolet; */
           margin-left: 5px;
           margin-top: 2px;
           /* grid-area: 1 / 2; */
   
        }
      
       span{
           margin-top: -0.1px;
       }
      
       .logout{
           display: grid;
       }
   
       .nav-item{
           max-width: 100%;
        //    font-size: 12px;
       }
       .navbar-collapse{
           float: left !important;
       }

       .image-style{
           background-color: gray;
       }
       
    }
    
    

 @media(min-width:700px) and (max-width: 1000px){
    .navbar-brand{
        margin-bottom: 5.2px;
    }
     .responsive{
         min-width: 50% !important ;
         min-height: 185px !important;
         
     }
     .card{
        min-width: 50% !important;
        min-height: 185px !important;
    }
  
    .search .responsive{
        /* background-color: blue; */
        min-width: 100%;
        align-content: center;
    }
    .search .card{
        min-width: 100%;
        margin-right: -200px;

    }
    .nav12{
        display: grid;
        text-align: left;
        grid-template-columns: 1fr 1fr 1fr 6fr 2fr 1fr;
    }
    .logout{
        grid-column: 8/9;
    }
    .name{
        grid-column: 7/8;
    }
    .btn1{
        color: gray;
    }
    .nav2{
        /* background-color: blueviolet; */
        margin-left: 5px;
        margin-top: 2px;
        /* grid-area: 1 / 2; */

     }
   
    span{
        margin-top: -0.1px;
    }
    
    .logout{
        display: grid;
    }

    .nav-item{
        max-width: 100%;
        // font-size: 12px;
    }
    .navbar-collapse{
        float: left !important;
    }
    
 }

@media (min-width: 1001px) {
.fondo{
    background-color: gray;
    height: 100vh;
    width: 100vw;
}


.navbar-brand{
    margin-bottom: 5.2px;
}
     
    .responsive{
        min-width: 30% !important ;
        min-height: 185px !important;
        
    }
  .search{
      display: grid;
      grid-template-columns: 1fr 1fr;
  }
 
   .search .responsive{
       /* background-color: blue; */
       min-width: 100%;
       align-content: center;
   }
   .search .card{
       min-width: 100% !important;
       margin-right: -200px;

   }
    .nav12{
        display: grid;
        text-align: left;
        grid-template-columns: 1fr 1fr 1fr 10.5fr 2fr 1fr  ;
    }
    .logout{
        display: grid;
        grid-column: 6;
    }
    .name{
        display: grid;
        grid-column: 5;
    }

 }
 